@use "../global" as *;

.loading {
    background-color: #61B583;  /*ローディング画面の背景色*/
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:9999;
    top: 0;
  
  &__fade {
    /*JqueryのfddeInでふわっと表示させたい為noneにする*/
    display: none;
  }

  .loading__logo1 {
    max-width:rem(171.48);
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    @include mq(md) {
        max-width: rem(185.74);
        margin-bottom: 0;
    }
  }
}

//2つ目

.loading-slow {
    background-color: #61B583;  /*ローディング画面の背景色*/
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:8888;
    top: 0;
  
  &__fade {
    /*JqueryのfddeInでふわっと表示させたい為noneにする*/
    display: none;
  }

  .loading__logo2 {
    max-width: rem(106.41);
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    margin-bottom: 0;
    @include mq(md) {
        max-width: rem(115.27);
        margin-bottom: 0;
    }
  }
}